$btn-green: #8ac34e;
$btn-blue: #0099d7;

$sucesso-color: #257527;
$erro-color: #9c3131;

/**
  body
 */

$background-color: #f7f7f7;
$font-color: #686868;
$font-color-btn: #ffffff;

/**
  header
 */

$header-index: 150;
$header-height: 45px;
$header-background: #ffffff;
$header-border: #e6eff3;


/**
  nav
 */

$nav-index: 100;
$nav-width: 250px;
$nav-background: #f7f7f7;
$nav-border: #e6eff3;
$nav-shadow: #efefef;


/**
  main
 */

$main-index: 50;
$main-background: #ffffff;
$main-border: #f1f1f1;
$main-shadow: #f1f1f1;
